.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #1E1E1E; 
  padding: 1rem 2rem;
  height: 10vh;
}

.navbar a {
  color: white;
  text-decoration: none;
  font-size: 1rem;
  transition: color 0.3s ease;
}

.navbar a:hover {
  color: #cccccc;
}
