.menu-container {
    position: fixed;
    bottom: 20px;
    right: 20px;
    display: flex;
    flex-direction: column;
    align-items: flex-end;
}
.menu-button {
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: transparent;
    border: none;
    border-radius: 50%;
    height: 75px;
    width: 75px;
    cursor: pointer;
    font-size: 18px;
    transition: background-color 0.2s ease;
}
.menu-button:hover,
.menu-button.active {
    background-color: #f0f0f0;
}
.menu {
    display: flex;
    flex-direction: column;
    gap: 10px;
    margin-bottom: 10px;
    background-color: #f9f9f9;
    padding: 12px;
    border-radius: 10px;
    box-shadow: 0px 8px 16px rgba(0, 0, 0, 0.2);
}
.menu.closed {
    display: none;
}
.menu a {
    text-decoration: none;
    color: black;
    font-size: 14px;
}
.menu a:hover {
    color: #007bff;
}
