body {
  margin: 0;
  font-family: system-ui, -apple-system, sans-serif;
  padding: 20px;

  
}

main{
  min-height: 100vh;
  min-width: 100vw;
  background: linear-gradient(0deg, #30364F, #3cb6b6);
  display: flex;
}