.header {
  position: fixed;
  top: 0;
  left: 0;

  height: 7vh;
  width: 100vw;

  background: var(--color-primary);
  display: flex;
  align-items: center;
  justify-content: space-between;

  padding: 0 26px;
  box-sizing: border-box;

  z-index: 1000;
}

.logo {
  font-size: var(--text-lg);
  font-weight: bold;
  color: var(--text-secondary);
  text-decoration: none;
}

.profile-link {
  font-size: var(--text-md);
  color: var(--text-secondary);
  text-decoration: none;
}